{
    "_comment1": "Public | USGov | USGovMil | USGovHigh | China | Germany",
    "Environment": "Public",

    "_comment2": "CSV | SQL",
    "SinkType": "CSV",

	"_comment3": "Folder or DB connection string",
    "Sink": "c:/temp/out/",

	"AuditLogDays": 30,
    "AuditLogBatchHours": 24,

    "ExportPremium": true,
    "PremiumDatasetId": "######",
	
    "ExportActivityLog": true,
    "ExportInventory": true,
    "ExportTenantSettings": true,
    "ExportDatasources": true,
    "ExportRefreshes": true,

    "_comment4": "Optional and will save loads of time if disabled",
    "ExportV1Users": false,
    "ExportLicenses": true,
	"ExportLicensesProDetail": false,

    "_comment5": "**** Experimental - Not Production / Customer Ready. Supports currently Activity Log & PBI Inventory ****",
    "_comment6": "Do you want to User Service Principal for Authentication, if true then provide the following details",
    "ServicePrincipalAuth": false,
    "ServicePrincipalID": "",
    "ServicePrincipalSecret": "",
    "TenantID": ""
}